name: Build & Push Image (Release, AMD64 Only)

on:
  workflow_dispatch:
  push:
    branches:
      - release

env:
  REGISTRY: registry.cn-hangzhou.aliyuncs.com
  NAMESPACE: memories
  IMAGE: teslamate
  REGISTRY_IMAGE: registry.cn-hangzhou.aliyuncs.com/memories/teslamate

permissions:
  contents: read

jobs:
  build_and_push:
    runs-on: ubuntu-24.04
    timeout-minutes: 30

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up QEMU and Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Alibaba Cloud ACR
        run: |
          echo "${{ secrets.ALIYUN_ACR_PASSWORD }}" | docker login \
            --username="${{ secrets.ALIYUN_ACR_USERNAME }}" \
            --password-stdin ${{ env.REGISTRY }}

      - name: Build & Push Docker Image (amd64)
        run: |
          SHORT_SHA=$(echo $GITHUB_SHA | cut -c1-7)
          docker buildx build \
            --platform linux/amd64 \
            -t ${{ env.REGISTRY_IMAGE }}:latest \
            -t ${{ env.REGISTRY_IMAGE }}:latest-$SHORT_SHA \
            --push \
            .
