name: Build & Push Image (Release, Multi-Arch)

on:
  workflow_dispatch:
  push:
    branches:
      - release

permissions:
  contents: read

env:
  REGISTRY: registry.cn-hangzhou.aliyuncs.com
  NAMESPACE: memories
  IMAGE: teslamate

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to ACR
        run: |
          echo "${{ secrets.ALIYUN_ACR_PASSWORD }}" | \
          docker login \
            --username="${{ secrets.ALIYUN_ACR_USERNAME }}" \
            --password-stdin \
            ${{ env.REGISTRY }}

      - name: Build & Push
        run: |
          docker buildx build \
            --platform linux/amd64,linux/arm64 \
            -t ${{ env.REGISTRY }}/${{ env.NAMESPACE }}/${{ env.IMAGE }}:release \
            -t ${{ env.REGISTRY }}/${{ env.NAMESPACE }}/${{ env.IMAGE }}:${{ github.sha }} \
            --push \
            .